
venv/

notes-tech/
notes/

#docs/
docs-bak/
src/
bin/
misc/
tex/
examples/
docker/
tests/

build/
debug/
dist/

data/raw/*/*

#/LICENSE
/LICENSE-MIT
/LICENSE-PRIV
/LICENSE-SCIENCE
/LICENSE-CC-BY
/LICENSE-CC-BY-SHORT
/LICENSE-CC-BY-NC
/LICENSE-CC-BY-NC-ND

#/MANIFEST.in
#/setup.cfg
/make_sdist.sh
#/COVID-19-ANALYSIS-debug.spec
/make_dist_debug.sh
#/build.txt
#/COVID-19-ANALYSIS.spec
/make_dist.sh
/setup.py

 
