_site
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor
bak
template-c19.html
tmp/

/MODEL.md
/MODEL.html

/MODEL_all.md

# 
/FEATURES.md
/ASSUMPTIONS.md
/PARAMETERS.md
/FEATURES.html
/ASSUMPTIONS.html
/PARAMETERS.html

/NOTATION.html
/NOTATION.md

/README-REPORTS.html
/README-REPORTS.md

/SCENARIOS-REPORTS.html
/SCENARIOS-REPORTS.md

/.Rhistory
/123.txt
/LOGFILE3.html

/counts.txt

/index3.html

/logfile-rep.txt
/logfile-rex.txt
/logfile3.txt

/sitemap3.html
/sitemap3.xml
/sitemap3.txt
